<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="hero">
        <div class="container d-flex flex-lg-row flex-md-row flex-sm-column justify-content-evenly">
            <div>
                <a href="#" class="btn btn-secondary mb-1">Gallery</a>
            </div>
            <div>
                <a href="#" class="btn btn-secondary mb-1">Events</a>
            </div>
            <div>
                <a href="#" class="btn btn-secondary">Services</a>
            </div>
        </div>
        <div class="container">
            <p class="text-center text-wrap fs-2">Panibuatan Beach Resort is your haven to relax and enjoy. Witness the beautiful serenity of the beach, fresh breeze and the calming sound of the waves.</p>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>